<div class="card text-center">
    <div class="card-body">
        <h2>Acertei</h2>
        <div class="d-flex justify-content-center mt-3">
            <a asp-controller="GourmetGame" asp-action="Index" class="btn btn-primary me-2">Ok</a>
            <a href="#" class="btn btn-secondary">Cancelar</a>
        </div>
    </div>
</div>
